<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
        max-width: 560px;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="table table-boarded">
            <tr>
                <th>번호</th>
                <td th:text="${board.seq}"></td>
            </tr>
            <tr>
                <th>제목</th>
                <td th:text="${board.title}"></td>
            </tr>
            <tr>
                <th>작성날짜</th>
                <td th:text="${board.createDateTime}"></td>
                <th>수정날짜</th>
                <td th:text="${board.modifiedDateTime}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td th:text="${board.contents}"></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/board/update/{boardSeq}(boardSeq=${board.seq})}'|"
                    type="button">게시글 수정</button>

        </div>
        <div class="col">
            <form id="delete-form" th:onclick="|location.href='@{/board/{boardSeq}(boardSeq=${board.seq})}'|"
                  method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button class="w-100 btn btn-primary btn-lg" id="delete-btn">게시글 삭제</button>
            </form>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/board'}|"
                    type="button">목록으로</button>
        </div>
    </div>
</body>
</html>